body {
  margin: 0;
}
div.jumbotron {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  min-height: 100vh;
  margin-bottom: 0;
}
.jumbotron > .btn-block {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  align-items: stretch;
}
.jumbotron > .btn-block > .btn {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .jumbotron > .btn-block {
    min-height: calc(100vh - 120px);
  }
}

    /* success button */
    .btn-success {
        background-color: #FFF;
        /* text color */
        color: #fff;
        border-color: #996699;
        border-radius: 25px;
    }
    .btn-success:hover,
    .btn-success:focus,
    .btn-success:active    {
        background-color: #996699;
        color: #FFF;
        border-color: #996699;
    }

    /* success button */
    .btn-mybtn {
        background-color: #996699;
        /* text color */
        color: #fff;
        border-color: #996699;
        border-radius: 25px;
    }
    .btn-mybtn:hover,
    .btn-mybtn:focus,
    .btn-mybtn:active    {
        background-color: #996699;
        color: #FFF;
        border-color: #996699;
    }
